body{

    background-color: #f6f7f9;
}

.Certificates-section{

    padding-top: 2rem;
}
.Home-section, .Biography-section, .Certificates-section, .Experience-section, .Portfolio-section{

    border-bottom: 1px solid whitesmoke;

}

.Biography-section, .Certificates-section{

    background-color: #F7F7FF;
}

.Row-certifications, .Row-experience{

    padding-top: 1rem !important;

}

.Container-certifications, .Container-experience, .Container-portfolio{

    padding-top: 3rem;
    padding: 5rem !important;
}

.Container-home, .Container-profile, .Container-certifications, .Container-experience{

    padding-bottom: 2rem;
}

.Container-portfolio h4{

    padding-bottom: 1rem;
}

.Home-info, .Biography-info{

    padding: 5rem;
}

.Home-info h4{

    color: #243e69;
    
}

.Home-info button{

    background-color: black;
    border-color: black;
    padding: 1rem;

}

.Home-info button:hover{
    background-color: #f6f7f9;
    color: black;
    border-color: black;
}
.about-me-initial{

    color: black;
    font-weight: 500;
    font-size: 1.5rem;
}


.about-me-p{

    color: #979797;
}

.col-image, .col-image-2{

    text-align: center;
}

.col-image-2{

    padding-top: 6rem;
}
.image-profile{

    width: 30rem;

}

.nav {

    padding: 2rem !important;
}
.nav-link{

    font-size: smaller;
    color: black !important;
    font-weight: 500;

}

.nav-link:hover{

    color: #243e69 !important;

}

